.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card-img-top {
  max-width: 300px;
}

.card-text {
  white-space: pre-wrap;
}

.btn-primary {
  background-color: #ffd7d7;
  border-color: #ffd7d7;
  margin-top: 15px;
}
.btn-primary:hover {
  background-color: #fd2d01;
  border-color: #fd2d01;
}
.card-link {
  color: #fd2d01;
}
a {
  color: #fd2d01;
  text-decoration: none;
}
a:hover{
  color: initial;
  font-weight: bolder;
}
a:active {
  color:red;
}
.text-teaser {
  max-height: 100px;
}

.App-link {
  color: #fd2d01;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
